<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div>
          <%= link_to 'Home', root_path %>
          <%= link_to 'About', about_path %>
          <%= link_to 'Posts', posts_path %>
          <%= link_to 'New', new_post_path %>
          <% if user_signed_in? %>
              Hello <%= link_to current_user.first_name, edit_user_path(current_user) %>
              <%= link_to 'Favourite Posts', posts_path(show_favs: true)%>
              <%= link_to 'Sign Out', sessions_path, method: :delete %>
          <% else %>
              <%= link_to 'Sign Up', new_user_path %>
              <%= link_to 'Sign In', new_session_path %>
          <% end %>
      </div>
      <div>
          <%= form_tag posts_path, method: :GET do%>
              <%= text_field_tag :query, session[:query] %>
              <%= submit_tag 'Search Posts'%>
          <% end %>
      </div>
      <%= flash[:notice] || flash[:alert] %>
      <%= yield %>
  </body>
</html>
